<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="laser_range_sensor" params="parent x y z">
    <link name="laser_range_link"><visual><geometry><box size="0.04 0.04 0.04"/></geometry><material name="purple"><color rgba="0.45 0 0.8 1"/></material></visual><collision><geometry><box size="0.04 0.04 0.04"/></geometry></collision><inertial><mass value="0.04"/><inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/></inertial></link>
    <joint name="laser_range_joint" type="fixed"><parent link="${parent}"/><child link="laser_range_link"/><origin xyz="${x} ${y} ${z}" rpy="0 0 0"/></joint>
    <gazebo reference="laser_range_link">
      <sensor name="front_tof" type="ray">
        <update_rate>20</update_rate>
        <ray><scan><horizontal><samples>1</samples><resolution>1</resolution><min_angle>0</min_angle><max_angle>0</max_angle></horizontal></scan><range><min>0.04</min><max>4.0</max><resolution>0.005</resolution></range></ray>
        <plugin name="front_range_controller" filename="libgazebo_ros_ray_sensor.so">
          <ros><remapping>~/out:=range/front</remapping></ros>
          <output_type>sensor_msgs/Range</output_type>
          <frame_name>laser_range_link</frame_name>
          <radiation_type>infrared</radiation_type>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
